<h2>Title: <%= @task.title %></h2>
<p>Details: <%= @task.details %></p>
<p>Is it completed? <%= @task.completed %></p>
<%= link_to "Back to all Tasks", tasks_path %>
<%= link_to "Edit this task", edit_path %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>